body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: aquamarine;
    height: 100vh;
}

.container {
    height: 800px;
    width: 800px;
    /* background-color: bisque; */
    display: grid;
    height: 800px;
    width: 800px;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
    /* align-content: center; */
}

.header {
    /* width: 800px; */
    background-color: blueviolet;
    grid-column: 1/4;
    border: 5px solid black;
    align-content: center;

}

.sidebar {
    background-color: rgb(199, 149, 154);
    grid-row: 2/4;
    border: 5px solid black;
    align-content: center;

}

.content1 {
    background-color: azure;
    grid-column: 2/4;
    border: 5px solid black;
    align-content: center;

}

.content2 {
    background-color: rgb(114, 137, 125);
    border: 5px solid black;
    align-content: center;

}

.content3 {
    background-color: rgb(6, 228, 228);
    border: 5px solid black;
    align-content: center;

}

.footer {
    background-color: brown;
    grid-column: 1/4;
    border: 5px solid black;
    align-content: center;

}