* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.container {
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-content: center;
    gap: 25px;
}

.item {
    border: 5px solid black;
    border-radius: 25px;
}

.pink {
    background-color: pink;
}

.cadetblue {
    background-color: cadetblue;
}

.orange {
    background-color: orange;
}

.violet {
    background-color: rgb(145, 145, 223);
}

.gameFlash {
    background-color: white;
}

.userFlash {
    background-color: brown;
}

