div {
    width: 700px;
    height: 200px;
    /* background-color: aqua; */
    margin: auto;
    border: 2px solid black;
    /* display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: center; */
}

body {
    text-align: center;
}